<div class="container-fluid">
    

<div class="text-center py-5 px-5 animate__animated animate__slideInLeft" >
     <h3>Our Mission</h3>
     <br>
    
    <p>At Famazon, our mission is to provide high-quality products that enhance the lives of our customers. We believe in offering exceptional value and service, ensuring that every customer feels valued and satisfied.</p>
     <br>
     <br>
    
    <h3>  Our Story</h3>
     <br>
     <p>Founded in January 2024, Famazon started with a simple idea: how to make life more colorful and espressive. During this year, we have grown into a trusted name in the art and crafts sector, known for our commitment to quality and customer satisfaction.</p>
     <br>
     <br>
    
    <h3>What We Offer </h3>
    <h5>We specialize in a wide range of products, including :</h5>
    <br>
   <section class="bg-light bg-opacity-25 shadow px-4 mx-auto py-3 " > 1. A wide array of art equipment, catering to both amateur and professional artists.  With a focus on quality and innovation, they aim to support artists in their creative endeavors, whether for personal projects or professional work.</section>
    <br>
    <br>

   <section class="bg-light bg-opacity-25 shadow px-4 mx-auto py-3 " > 2.We also offers a curated selection of home decoration products designed to enhance any living space. Their range includes stylish furniture, decorative accents, wall art, and textiles such as rugs, curtains, and cushions. Additionally, they provide unique lighting solutions, plant decor, and seasonal decorations to create a warm and inviting atmosphere. The company emphasizes a mix of modern and classic styles, catering to diverse tastes and preferences. With an eye for design and quality craftsmanship, they aim to help customers transform their homes into personalized sanctuaries.</section>
    <br>
    <br>

    <section class="bg-light bg-opacity-25 shadow px-4 mx-auto py-3 " >3-Additionally we offer a comprehensive selection of crafting supplies and materials for various creative projects.
    We also provide kits for beginners and experienced crafters alike, featuring step-by-step instructions and all necessary components. In addition to supplies, the company hosts workshops and tutorials to inspire creativity and skill development. With a focus on quality and innovation, they aim to empower customers to bring their crafting ideas to life.</section>
    <br>
    <br>
    <br>
    <br>
    <br>

<div class="bg-success opacity-75 shadow">
    <br>
<strong><h5 id="display">
   " Each product is carefully selected to meet our high standards and the needs of our customers and beign eco-friendly, because we take considaration on reduncing the amount of polution and waste, through a vaste selction of items made of reusable materials."</h5></strong>
   <br>
</div>
   <br>
   <br>
   <br>
   <br>

<div class=" mx-auto" style="width: 25rem; height: 20rem;" id="imageDiv">
    <div data-tilt data-tilt-scale="1.1"><img src="images/plastic.jpg" alt="writing plastic" ></div>
    <div data-tilt data-tilt-scale="1.1"><img src="images/woodFrame.jpg" alt="wood frame"></div>
   

</div>

<br>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


     <h3>Our Values</h3>
     <br>
   <u><h5><strong><em>Quality: </em></strong></h5> </u>
   <br>
   <p>
    We prioritize the best materials and craftsmanship.
    Innovation: We strive to stay ahead of trends and continuously improve our offerings.</p>
    <br>
    <br>
    <u><h5><strong><em>Customer Focus: </em></strong></h5></u>
    <br>
    <p>Your satisfaction is our top priority. We’re here to listen and support you.
    Join Us on Our Journey
    We invite you to explore our products and experience the  difference. Thank you for supporting our vision in this exciting year!</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3><i class="fa-regular fa-envelope"></i>Get in Touch <i class="fa-regular fa-envelope"></i></h3>
    <p><em>Have questions? Feel free to reach out to us and do not forget follow us on our social medias pages for updates and news.</em></p>
    <br>
    <br>
    <br>

</div>
</div>