<body>
    
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div *ngFor="let items of products; let i = index">
      <div class="card my-4 mx-auto text-center py-3  shadow-lg text-light animate__animated animate__fadeInRight" style="width: 18rem; height: 37rem;" id="card">
        <div class="d-flex justify-content- justify-content-around mb-3">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-share-from-square"></i>
        </div>
        <img [srcset]= 'items.image' class="card-img-top" [alt]="items.name">
        <div class="card-body">
            <br>
          <h5 class="card-title">{{items.name}}</h5>
          <p class="card-text px-3">{{items.description}}</p>
          <br>
          <p class="card-text"><strong>{{items.price| currency:"EUR"}} </strong></p>
          <br>
          <div *ngIf="items.availability; else outOfStock " class="d-flex justify-content-around">
         <!-- <ng-container *ngIf="item.available; else outOfStock"></ng-container> -->
           <a routerLink="/details/{{i}}" class="btn btn-success opacity-75 text-light px-2 py-2 "> More Details </a>
          <a (click)="addToCart(items)" routerLink="/products-list" class="btn btn-warning opacity-75 text-light px-2 py-2"> Add to Cart </a>
        </div>
        <ng-template #outOfStock>
          <p class="text-danger">Out of Stock</p>
        </ng-template>
       </div>
      </div>
    </div>
  </div>

</body>