
*{
    margin: 0;
    padding: 0;
    
}

a{
    color: rgb(231, 231, 122);
    text-decoration: none;
    text-transform: uppercase;
}


#nav{
background-color: #137352;
background: radial-gradient(circle, rgba(165,125,177,1) 0%, rgba(55,120,78,1) 86%);

}

li a:hover  {
    /* color: rgb(84, 95, 10); */
    font-size: 1.2rem;
    color: #b0d723;
    text-shadow: 0px 0px 10px rgb(94, 225, 129),
                 0px 0px 20px rgb(94, 225, 129),
                 0px 0px 40px rgb(94, 225, 129),
                 0px 0px 80px rgb(94, 225, 129);

                 transition: ease-in-out 0.5s;
}


a:visited {
    
    color: #cad735;
}


.navbar-toggler{
    color: green ;
}

.navbar-toggler:hover {
    color: rgb(163, 163, 32);
   
}