<!-- welcoming customer -->
 <div class="container-fluid">
<div class="hero">
<div  class="divWelc text-center">
    <img src="/images/green-fundal.jpg" alt="image-welcoming" id="image-welcoming">
    <h1 class="head1 bg-success bg-gradient rounded-4 text-light text.opacity-75 border border-warning animate__animated animate__zoomInDown display-4">Welcome to Famazon</h1>
    <p class="head2 bg-success rounded-2 px-2 my-2 text-warning border border-light animate__animated animate__zoomInDown"><strong> We have everything!</strong></p>
</div>
<br>
<br>
<br>
<br>


<br>
    <div id="carouselExampleSlidesOnly" class="carousel slide animate__animated animate__fadeInUp" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active text-center text-light img-fluid" id="divParent1">
            <img src="/images/autumn.jpg" class="d-block w-100 " alt="pumpkins" id="div1">
            <h2>  <strong>Trick or Treat:</strong> <br>We have a special treat for you<br><strong>15% discount !</strong></h2>
            <p id="disclaimer">with a minimum order of €40</p>
          </div>
          <div class="carousel-item text-light text-center">
            <img src="/images/polaroid1.jpg" class="d-block w-100 " alt="polaroid" id="div2">
            <h3>Give us your feedback</h3>
            <p>Review is essential to evaluation, which is essential to progress</p>
          </div>
          <div class="carousel-item text-center text-light">
            <img src="/images/char.jpg" class="d-block w-100" alt=" white chair" id="div3">
             <h3>Creativity is the greatest expression of liberty</h3>
             <br>
             <h5>Stay on tune for our new incoming <strong>Blog</strong></h5>
             <p>an insight on how to make colurful your daily routine</p>

          </div>
        </div>
      </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-light text-center display-6">Most selled items by category</h1>
<br>
<div>
<!-- carousel of items and news -->
<div id="carouselExampleInterval" class="carousel slide animate__animated animate__fadeInUp" data-bs-ride="carousel">
    <div class="carousel-inner bg-success bg-opacity-50 text-light text-center">
      <div class="carousel-item active " data-bs-interval="" id="div4">
        <h4 >Covers sofa and pillows</h4>
        <img src="/images/inside-weather-dbH_vy7vICE-unsplash.jpg" class="d-block w-100" alt="orange sofa" >
      </div>
      <div class="carousel-item" data-bs-interval="" id="div5">
        <h4 >Art equipment</h4>
        <img src="/images/woman-painting.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" id="div6">
        <h4 >Home decoration</h4>
        <img src="/images/photo-frame.jpg" class="d-block w-100" alt="wall-sticker">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
  </div>
</div>