<!-- welcoming customer -->
<div class="container-fluid">
  <div class="hero">
    <div class="divWelc text-center">
      <img src="/images/green-fundal.jpg" alt="image-welcoming" id="image-welcoming">
      <h1 class="head1 bg-success bg-gradient rounded-4 text-light text-opacity-75 border border-warning animate__animated animate__zoomInDown display-4">Welcome to Famazon</h1>
      <p class="head2 bg-success rounded-2 px-2 my-2 text-warning border border-light animate__animated animate__zoomInDown"><strong> We have everything!</strong></p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h2 class="text-light text-center display-6 mt-5 animate__animated animate__zoomIn">"Expression is the mystery of Beauty"</h2>
  <div class=" g-4 text-center  text-light">

    
    <div class=" bg-success bg-grdient bg-opacity-75 mt-5 rounded-3 h-50 animate__animated animate__slideInLeft" id="sect">
     <strong>Transform Your Home with Stylish Decorations</strong>
     <br>
     Find the perfect home decor that reflects your personality and enhances your home environment.
      
    </div>
    <div class="cols-4 bg-success bg-grdient bg-opacity-75 mt-3 rounded-3 animate__animated animate__slideInRight" id="sect">
      <strong>Handcrafted Items with Love</strong>
      <br>
      Support artisans from around the world with our handpicked selection of crafted decor and accessories.
    </div>
    <div class="cols-4 bg-success bg-grdient bg-opacity-75 mt-3 rounded-3 animate__animated animate__slideInLeft" id="sect">
      <strong>Discover Unique Art Pieces for Your Home</strong>
      <br>
      Explore our curated collection of modern and classic art that will bring life to your living space.
    </div>
    <br>
    <br>
  <h6 class="display-4 text-warning animate__animated animate__zoomIn px-1" id="quote">Bring joy and fun in your life</h6>
 
  <button class="btn border-2 border-warning text-warning px-4 py-2 text-uppercase mt-3 animate__animated animate__zoomIn" id="btn-shop"> <a routerLink="/products-list">start now</a></button>

  </div>
  <br>
  <br>
 

  <br>
  <br>
 <!-- Carousel Section -->
  <div id="carouselExampleSlidesOnly" class="carousel slide animate__animated animate__fadeInUp" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active text-center text-light img-fluid" id="divParent1">
        <img src="/images/autumn.jpg" class="d-block w-100" alt="pumpkins" id="div1">
        <h2><strong>Trick or Treat:</strong> <br>We have a special treat for you<br><strong>15% discount !</strong></h2>
        <p id="disclaimer">with a minimum order of €40</p>
      </div>
      <div class="carousel-item text-light text-center">
        <img src="/images/polaroid1.jpg" class="d-block w-100" alt="polaroid" id="div2">
        <h3>Give us your feedback</h3>
        <p>Review is essential to evaluation, which is essential to progress</p>
      </div>
      <div class="carousel-item text-center text-light">
        <img src="/images/char.jpg" class="d-block w-100" alt="white chair" id="div3">
        <h3>Creativity is the greatest expression of liberty</h3>
        <br>
        <h5>Stay on tune for our new incoming <strong>Blog</strong></h5>
        <p>an insight on how to make colorful your daily routine</p>
      </div>
    </div>
  </div>
  
  <br>


    



  <br>
  <br>
  <br>
  <br>
</div>
 
  <!-- end carousel -->
